/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

:root {
    --green : #3eb489;
    --green-light : #3eb489e4;
    --main-black : #191919;
    --hover-black : #262626;
    --second-black : #0d0d0dc6;
    --white : #fff;
    --gray : #bfbfbf;
    --nav-gray : #eeeeee;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    background: var(--main-black);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:16px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}


/* -------------------------------------------------------------------------- */

/* Utilities */

#home-sec-2,#home-sec-3,#earn{
    padding: 8rem 0;
    border-bottom: 2px solid hsla(0,0%,100%,.062745098);
}

.current{
    color: var(--white)!important;
}

.container{
    max-width: 126.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin: 0 auto;
}


.text-go a{
    color:var(--gray);
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
}





/* ----------------------------------------------------------- */


/* Button CSS */
.green-btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: var(--green);
  border-radius: 8px;
  border-style: none;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 17px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.green-btn:hover {
  background-color: var(--green-light);
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.green-btn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.black-btn{
    background: var(--main-black);
    border: 1px solid var(--white);
    padding: 9px 16px;
}
.black-btn:hover{
    background: var(--hover-black);
}


/* ------------------------------------------------------- */
/* Navbar CSS */

.navbar-container{
    color: var(--white);
    padding: 0 5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.2rem;
    border-bottom: 1px solid hsla(0,0%,100%,.062745098);
    box-shadow: 0px 5px 10px 0px var(--second-black);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobo-icon,.mobo-menu{
    display: none;
}
.logo a > img{
    width: 60px;
}


.menu-items a{
    margin-right: 4rem;
    color: var(--gray);
    cursor: pointer;
    transition:  all .3s ease-in-out;
}
.menu-items a:hover{
    color: var(--white);
    /* scale: 1.1; */
}


.nav-btn{
    margin-left: 2rem;
}


/* Home Section 2 */

.intro-heading{
    font-size: 5.7rem;
    color: var(--white);
    line-height: 6.8rem;
}

.intro-sub-heading{
    font-size: 2rem;
    color: var(--gray);
    line-height: 2.5rem;
    max-width: 400px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.intro-stats{
    display: flex;
    width: 100%;
    padding-top: 6rem;
}
.intro-stats-box{
    border: 1px solid hsla(0,0%,100%,.062745098);
    border-radius: 5px;
    width: 33.3%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    box-shadow: 0px 5px 10px 0px var(--second-black);
}
.intro-stats-box:last-child{
    margin-right: 0;
}
.intro-stats-box >img{
    flex: 1.5;
    margin-right: 3rem;
}
.stats-content{
    flex: 7;
}

.stats-heading{
    color: var(--gray);
    font-size: 1.8rem;
}

.stats{
    color: var(--white);
    font-size: 4rem;
}

/* home-sec-3 */

.features{
    display: flex;
    width: 100%;
    margin-bottom: 10rem;
}
.features-box{
    /* border: 1px solid hsla(0,0%,100%,.062745098); */
    /* border-radius: 5px; */
    width: 33.3%;
    padding: 2rem;
    padding-left: 0;
    margin-right: 3rem;
    /* box-shadow: 0px 5px 10px 0px var(--second-black); */
}

.features-heading{
    display: flex;
    align-items: center;
}

.features-heading>img{
    margin-right: 1.8rem;
}
.features-heading>h3{
    color: var(--white);
    font-size: 2.2rem;
    line-height: 2.8rem;
}


.features-box>p{
    color: var(--gray);
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-top: 2rem;
    width: 85%;
}


.eco-heading{
    margin: 4rem 0;
}
.eco-headings{
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: var(--white);
}

.eco-box-heading{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.eco-box-heading>img{
    width: 5rem;
    margin-right: 1.2rem;
}

.eco-box-heading>div{
    font-size: 2.3rem;
    line-height: 3.1rem;
    color: var(--white);
}

.eco-box>h3{
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.eco-box>p{
    font-size: 1.5rem;
    list-style: 2.3rem;
    color: var(--gray);
    margin-bottom: 2rem;
}

.eco-boxs{
    display: flex;
    width: 100%;
}

.eco-box{
    border: 1px solid hsla(0,0%,100%,.062745098);
    border-radius: 5px;
    width: 50%;
    padding: 2rem;
    margin-right: 3rem;
    box-shadow: 0px 5px 10px 0px var(--second-black);
}

.eco-box .black-btn{
    margin-left: 1.5rem;
}

/* ---------------------------------------------------------------- */

/* footer */
#footer{
    margin-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.footer-logo>img{
    width: 80px;
}
.soical{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 1.2rem;
}

.soical>a{
    transition: all .3s ease-in-out;
    font-size:3rem;
}

.soical>a:hover{
    color: var(--white);
}

.footer-text{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.footer-text a{
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: .5px;
}


/* ####################################### EARN Page ######### */

.earn-data{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.data-box{
    border: 2px solid hsla(0,0%,100%,.062745098);
    border-radius: 5px;
    width: 45%;
    height: 450px;
    margin-right: 3rem;
    box-shadow: 0px 5px 10px 0px var(--second-black);
    margin-bottom: 3rem;
}


.need-height{
    height: calc(100% - 6rem - 8rem);
}

.earn-heading{
    font-size: 3.4rem;
    line-height: 4.9rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.earn-para{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--gray);
    margin-bottom: 1rem;
}



.data-box-heading{
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--white);
    padding: 2rem;
    font-weight: 400;
    height: 6rem;
}

.data-tag{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--white);
    padding: 1rem 0 0 2rem;
    font-weight: 100;
}

.data-value{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--white);
    padding:1rem 2rem 0 0;
    font-weight: 100;
}

.last-child{
    padding-bottom: 1rem;
}

.data-box-heading{
    border-bottom: 2px solid hsla(0,0%,100%,.062745098);
}

.sub-data-boxe{
    border-bottom: 2px solid hsla(0,0%,100%,.062745098);
}

.sub-data-boxe:last-child{
    border-bottom: none;
}

.data-box-btn{
    border-top: 2px solid hsla(0,0%,100%,.062745098);
    padding: 2rem;
    height: 8rem;
}

.data{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.vest-box{
    height: 278px;
}

.earn-2-btn{
    margin-left: 2rem;
}

/* #########################  Dashboard Page #################################### */
.dashboard-box{
    height: 245px;
}


/* Token section */

.token-table-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.token-table-header > img{
    width: 4rem;
    margin-right: 1.2rem;
}

.token-table-header p{
    font-size: 1.2rem;
}

.drop-btn1,.drop-btn2{
    margin-left: 1rem;
    cursor: pointer;
}

/* drop-down */

#dropdown1,#dropdown2{
    display: inline-block;
    border: 2px solid hsla(0,0%,100%,.062745098);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px var(--second-black);
    display: none;
    background: var(--main-black);
    margin-top: 8rem;
    margin-left: -2rem;
}

#dropdown1 img,#dropdown2 img{
    width: 22px;
}

.drop-link{
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 1rem;
}

.drop-link a{
    font-size: 1.3rem;
    color: var(--gray);
}